<!DOCTYPE html>
<html>
<head> </head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
    <script src="program2_2.js"></script>
    <style src="program2.css"></style>

        <div id="ll" >   
    

      <div id="tabs" class="container">
  
        <div class="tabs">
            <a v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'active' : '' ]">Tab 1</a>
            <a v-on:click="activetab=2" v-bind:class="[ activetab === 2 ? 'active' : '' ]">Tab 2</a>
           
        </div>
    
        <div class="content">
            <div v-if="activetab === 1" class="tabcontent">
             Content for tab one
                   
                                <div id="grid-template">
                                    <table>
                                    <thead>
                                        <tr>
                                        <th v-for="key in columns"
                                            @click="sortBy(key)"
                                            :class="{ active: sortKey == key }">
                                            {{ key | capitalize }}
                                            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                                            </span>
                                        </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="entry in filteredData">
                                        <td v-for="key in columns">
                                            {{entry[key]}}
                                        </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                                
                                <!-- demo root element -->
                                <div id="demo">
                                    <form id="search">
                                    Search <input name="query" v-model="searchQuery">
                                    </form>
                                    <demo-grid
                                    :data="gridData"
                                    :columns="gridColumns"
                                    :filter-key="searchQuery">
                                    </demo-grid>
                                </div>
              
            </div>
            <div v-if="activetab === 2" class="tabcontent">

                Content for tab two
                
                <button v-on:click="insert">Add </button>     
                <input v-model="name" placeholder="full name..">
                <input v-model="power" placeholder="phone number..">

            </div>
           
        </div>
      
    </div>

                   


      
                </div>

</body>

</html>
