<html>
<head></head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
    <script src="p.js"></script>
<div id="app">
    <user-table></user-table>
  </div>
  
  <template id="pagination">
    <ul class="pagination">
      <li v-for="i in maxPages">
        <a href='#'
           :class="{'active': currentPage === i}"
           @click="$emit('change', i)">
          {{ i}}
        </a>
      </li>
    <ul>
  </template>
  
  <template id="user-table">
    <div>
      <header class="table-info">
        <p>
           Viewing {{ resultIndexBeg }} - {{ resultIndexEnd }} of {{ totalData }} results
        </p>
       <pagination-control
        @change="test"
        :current-page="page"
        :max-pages="totalPages">
      </pagination-control>
      </header>
      <table>
        <thead>
          <tr>
            <th v-for="col in userCols" :key="col">{{ col }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user.id">
            <td>{{ user.id }}</td>
            <td>
              <img class="avatar" :src="user.avatar" alt="">
            </td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
          </tr>        
        </tbody>
      </table>
    </div>
  
  </template>

</body>

  </html>